<section class="bg-primary" id="about" style="background-color : black;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Ahora disponible en Uber<a style="color : #8ADE00;">Eats!</a></h2>
                <hr class="light">
                <p class="text-faded">Descargue la aplicación y ordene pronto!</p>
                <a href="http://ubr.to/EatsGiveGet" class="btn btn-default btn-xl">Descargue la app</a>
            </div>
        </div>
    </div>
</section>
