<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sobre Nosotros</h2>
                <hr style="color : #931a1a;">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary" style="color : #931a1a;"></i>
                    <h3>Las mejores carnes para el mejor precio</h3>
                    <p class="text-muted">Rib-eye / T-bone / Arrachera</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s" style="color : #931a1a;"></i>
                    <h3>Pedidos para llevar</h3>
                    <p class="text-muted">Date gusto! 58241281 / 11:00 AM - 8:00 PM</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s" style="color : #931a1a;"></i>
                    <h3>N.o 1 de asadores en Atizapan</h3>
                    <p class="text-muted">5 estrellas en Tripadvisor</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s" style="color : #931a1a;"></i>
                    <h3>Servido con amor</h3>
                    <p class="text-muted">Cuidando de ti durante Covid-19. Quédate en casa</p>
                </div>
            </div>
        </div>
    </div>
</section>
